@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,100;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.container {
    display: flex;
    background-color: #f1faee;
}

.left {
    background-color: #a8dadc;
    width: 20vw;
    height: 100vh;
    border-right: 5px solid rgba(0, 0, 0, 0.10);
}

.right {
    background: linear-gradient(45deg, #f1faee, #a8dadc, #f1faee);
    width: 80vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box {
    opacity: 0.7;
    background: url('https://images.unsplash.com/photo-1618083707368-b3823daa2726?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8YWR2ZW50dXJlJTIwdHJhdmVsfGVufDB8fDB8fHww');
    width: 50vw;
    height: 60vh;
    border-radius: 20px;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.24);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.imagediv {
    margin: 40px 0px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    aspect-ratio: 1/1;
    width: 10vw;
    object-fit: contain;
}

.heading {
    font-size: 70px;
    padding-top: 50px;
    text-align: center;
    color: white;
    font-family: 'Roboto Mono', monospace;
    text-shadow: 2px 5px 2px skyblue;
}

.subhead {
    font-size: 50px;
    text-align: center;
    color: white;
    font-family: 'Roboto Mono', monospace;
    text-shadow: 2px 5px 2px skyblue;
}

.quote {
    padding-top: 20px;
    font-size: 35px;
    color: #1d3557;
    text-align: center;
}

.formpage {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.122);
    padding: 20px;
    border-radius: 20px;
    opacity: 0.7;
    transition: all 0.3s;
    cursor: pointer;
}

.formpage:hover {
    opacity: 1;
}

.signin {
    color: #0a192e;
    opacity: 1;
    font-size: 25px;
    padding: 20px 25px;
}

#username {
    width: 20vw;
    font-size: 15px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.24);
    border: none;
    padding: 3px 10px;
    border-radius: 20px;
}

#password {
    width: 20vw;
    font-size: 15px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.24);
    border: none;
    padding: 3px 10px;
    border-radius: 20px;
}

.data {
    padding: 20px;
    display: flex;
    flex-direction: row;
}

.user,
.pass {
    color: #1d3557;
    font-size: 25px;
    padding-right: 15px;
}

.submit {
    background-color: #0e1a21;
    padding: 15px 40px;
    border: none;
    font-size: 20px;
    border-radius: 40px;
    opacity: 0.8;
    cursor: pointer;
    color: #ff3b4b;
    margin-top: 30px;
}

.submit:hover {
    opacity: 1;
}

.privacy {
    padding-top: 10px;
    text-align: center;
}

.privacy span {
    color: #0e1f37;
}

.mybox {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.m1 {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.568);
    cursor: pointer;
}

.m1 h4 {
    color: #0089a4;
    padding-left: 10px;
}

.logobox {
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}